export(absolute2relative)
export(all_alternatives)
export(cba)
export(dSpec)
export(evppi)
export(evppi_and_risk)
export(evtpi)
export(evtpi_and_risk)
export(is.failure)
export(linear_utility)
export(makeDList)
export(n_alternatives)
export(n_decisions)
export(n_options)
export(options_names)
export(pareto)
export(print_progress)
export(relative2absolute)
export(relative2named)
export(sd_from_90CI)
export(shortlist)
export(sumproduct)
